<template>
  <div class="home">
    <img alt="Vue logo" src="../assets/k8s.jpg">
    <HelloWorld msg="hello DevCloud"/>
    <h2>ok gang's all here</h2>
  </div>
</template>

<script>
// @ is an alias to /src
import HelloWorld from '@/components/HelloWorld.vue'

export default {
  name: 'Home',
  components: {
    HelloWorld
  }
}
</script>
